/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    background-color: #eceaea;
}

/* Container */

.container{
    max-width: 1024px;
    display: block;
    margin: 0 auto;
    
}

/* Box one*/
.container > .box-one{
    display: grid;
    place-content: center;
    width: 100%;
    grid-template-columns: repeat(2, 35%);
}

.container > .box-one > .title,
.container > .box-one .description{
    margin-top: 25px;
    padding: 10px;
    width: 100%;
}

/* Title */
.container > .box-one > .title{
    font-size: 12px;
    font-family: 'Merriweather', serif;
}

/* Description */

.container > .box-one .description > .subtitle{
    font-weight: bold;
}

.container > .box-one .description .decriptionHelp{
    width: 100%;
    margin-top: 10px;
}

.container > .box-one .description > .subtitle,
.container > .box-one .description .decriptionHelp,
.container .box-two > .block-column .rows-img .name{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

/* Box two */
.container .box-two{
    display: grid;
    width: 100%;
    place-content: center;
}

.container .box-two > .block-column{
    width: 100%;
    place-content: center;
    grid-template-rows: repeat(2, 0.2fr);
    border: 1px solid #000;
}


.container .box-two > .block-column .rows-one,
.container .box-two > .block-column .rows-two{ 
    display: grid;
    grid-template-columns: repeat(3, 0.2fr);
    place-content: center;
    column-gap: 25px;
}

.container .box-two .rows-one > .individual,
.container .box-two .rows-two > .individual{
    place-content: center;
    display: grid;
}

    /* Image */
.container .box-two .rows-one > .individual #team,
.container .box-two .rows-one > .individual .name,
.container .box-two .rows-two > .individual #team,
.container .box-two .rows-two > .individual .name{
    grid-template-rows: repeat(2, 1fr);
}
.container .box-two .rows-one > .individual #team,
.container .box-two .rows-two > .individual #team{
    width: 225px;
}

.container .box-two .rows-one > .individual:nth-child(2),
.container .box-two .rows-two > .individual:nth-child(2){
    margin-top: 85px ;
}

    /* Name Teams*/
.container .box-two > .block-column >.rows-one .name,
.container .box-two > .block-column >.rows-two .name{
    font: bold 12px 'Open Sans', sans-serif;
}

/* Footer */
.container.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container.footer #copyright{
    font-family: sans-serif;
    font-size: 12px;
    color: #424242;
}

/* Responsive */

@media screen and (max-width: 1024px){
    .container > .box-one{
        grid-template-columns: 500px;
    }

    .container > .box-one > .title{
        text-align: center;
    }
    .container > .box-one .description{
        grid-template-columns: repeat(2, 250px);
        display: grid;
        column-gap: 50px;
    }
    .container > .box-one .description .decriptionHelp{
        width: 80%;
    }
}

@media screen and (max-width: 869px){
    .container .box-two .rows-one > .individual:nth-child(2),
    .container .box-two .rows-two > .individual:nth-child(2){
        margin-top: 0 ;
    }
    .container .box-two {
        place-content: center;
    }
    .container .box-two > .block-column{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        column-gap: 25px;
    }
    .container .box-two > .block-column > .rows-one,
    .container .box-two > .block-column > .rows-two{
        grid-template-columns: 225px;
        row-gap: 25px;
    }
    .container .box-two > .block-column > .rows-two{
        margin-top: 45px
    }
}